<div class="card card--log-entry log-border border-color-exercise">
  <a href="<%= exercise_log_path(exercise_log) %>">
    <div class="card--padding-clear flex">

      <div class="card--icon-container background-color-exercise">
        <span class="material-symbols-outlined">exercise</span>
      </div>
      <div class='card-body'>
        <h5 class='card-title color-exercise'>Exercise: <%= format_datetime(exercise_log.occurred_at) %></h5>
        <p class="card-text"><strong><%= exercise_log.body_part_name.titleize %>:</strong> <%= exercise_log.exercise_name.titleize %>: <%= format_exercise_stats(exercise_log) %><br>
          <% unless exercise_log.burn_rep.blank? && exercise_log.progress_note.blank? %>
            <small class="text-muted">Progress: exercise burn at Set <%= exercise_log.burn_set %> / Rep <%= exercise_log.burn_rep %>.<%= format_resistance(exercise_log) %> <%= exercise_log.progress_note %></small>
          <% end %>
        </p>
      </div>

    </div>
  </a>
</div>
