<%= form_with(model: exercise_log, local: true) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: exercise_log} %>

  <div class="field">
    <%= form.label 'Target Body Part' %>
    <%= form.collection_select :body_part_id,
    BodyPart.all, :id, :name,
    { include_blank: false },
    class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'When' %><br>
    <%= form.datetime_select :datetime_occurred, ampm: true, minute_step: 15, value: Date.today, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Exercise' %>
    <%= form.collection_select :exercise_id,
    Exercise.all.order(:name), :id, :name,
    { prompt: '--Select--' },
    class: 'form-control' %>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="field">
        <%= form.label :sets %>
        <%= form.number_field :sets, class: 'form-control' %>
        <%#= form.select :sets,
          options_for_select((1..5).to_a, selected: 0),
          { include_blank: false },
          class: 'form-control'
        %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :reps %>
        <%= form.number_field :reps, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :rep_length %>
        <%= form.number_field :rep_length, class: 'form-control' %>
      </div>
    </div>

    <div class="col">
      <div class="field">
        <%= form.label 'Per Leg?' %>
        <%= form.check_box :per_side, class: 'form-control' %>
      </div>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.label 'Burn Rep #' %>
    <%= form.text_field :burn_rep, placeholder: '2.7', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :progress_note %>
    <%= form.text_area :progress_note, class: 'form-control' %>
  </div>

  <div class="actions mt-3 mb-3">
    <%= form.submit class: button_class('success') %>
    <%= link_to 'Cancel', exercise_logs_path, class: button_class('primary pull-right') %>
  </div>
<% end %>
