<% content_for(:title, format_datetime(@exercise_log.occurred_at)) %>

<%= render partial: 'logs/log_header', locals: { log: @exercise_log, log_type: 'exercise', log_name: 'Exercise', icon_name: 'exercise' } %>
<h1>Editing <%= @exercise_log.exercise_name %></h1>

<%= render 'form', exercise_log: @exercise_log, url: exercise_log_path(@exercise_log) %>

<%= render partial: 'shared/delete_footer', locals: { object: @exercise_log, delete_path: @exercise_log } %>

<script>
  // burnDropdowns(<%= @exercise_log.sets %>, <%= @exercise_log.reps %>)
</script>
