<% content_for(:title, format_datetime(@exercise_log.datetime_occurred)) %>

<%= render partial: 'exercise_logs/exercise_log_header', locals: { log: @exercise_log } %>
<h1>Editing <%= @exercise_log.exercise_name %></h1>

<%= render 'form', exercise_log: @exercise_log, url: exercise_log_path(@exercise_log) %>

<%= link_to 'Delete Exercise Log', @exercise_log, method: :delete, data: { confirm: 'Are you sure?' }, class: button_class('danger') %>


<script>
  // burnDropdowns(<%= @exercise_log.sets %>, <%= @exercise_log.reps %>)
</script>
