<% content_for(:title, format_datetime(@exercise_log.occurred_at)) %>

<%= render partial: 'logs/log_header', locals: { log: @exercise_log, style_name: 'exercise', log_name: 'Exercise', icon_name: 'exercise' } %>

<h2>
  <span class='pull-right'>
    <%= link_to 'Edit', @pt_session_log ? edit_pt_session_log_exercise_log_path(@pt_session_log, @exercise_log) : edit_exercise_log_path(@exercise_log), class: button_class %>
    <%= link_to 'Back', @pt_session_log ? pt_session_log_path(@pt_session_log) : logs_path, class: button_class %>
  </span>
  <%= @exercise_log.exercise_name.titleize %>
</h2>

<p>
  <%= format_exercise_stats(@exercise_log) %>
</p>

<p>
  <%= format_datetime(@exercise_log.occurred_at) %>
</p>

<p>
  <strong>Describe 1 Rep:</strong><br>
  <%= @exercise_log.exercise.description %>
</p>

<p>
  <strong>Progress notes:</strong><br>
  For: <%= @exercise_log.body_part_name %> | Burn at Set <%= @exercise_log.burn_set %>, Rep <%= @exercise_log.burn_rep %><%= format_resistance(@exercise_log) %><br>
  <%= @exercise_log.progress_note %>
</p>


<!-- Button trigger modal -->
<button type='button' class='btn btn-warning btn-wide' data-toggle='modal' data-target='#repCounterModal'>
  <i class='far fa-stopwatch'></i> Launch Rep Counter
</button>

<%= render partial: 'exercise_logs/rep_counter_modal', locals: { sets: @exercise_log.sets, reps: @exercise_log.reps, rep_length: @exercise_log.rep_length, cancel_url: destination_url(@exercise_log, @pt_session_log) } %>
<%= new_exercise_log_button(@pt_session_log) %>


