<% content_for(:title, format_time(@exercise_log)) %>

<h2>
  <%= format_exercise(@exercise_log) %>
</h2>

<p>
  <%= format_time(@exercise_log) %>
</p>

<p>
  <strong>For:</strong>
  <%= @exercise_log.body_part_name %>
</p>

<p>
  <strong>Progress notes:</strong><br>
  <%= @exercise_log.progress_note %>
</p>

<%= link_to 'Edit', edit_exercise_log_path(@exercise_log) %> |
<%= link_to 'Back', exercise_log_path %>
