<%= link_to 'New Easy Button', new_easy_button_path, class: button_class('primary pull-right') %>

<h1>Easy Buttons</h1>
<p>Create a one-click shortcut to easily add a pain instance.</p>

<% if current_user.easy_buttons.any? %>
  <%= render partial: 'shared/search_form', locals: { url: easy_buttons_path } %>

  <section id='easy-button-list'>
    <% @easy_buttons.each do |easy_button| %>
      <article class='index-list-item'>
        <h3><%= link_to easy_button.name, edit_easy_button_path(easy_button) %> <i class='easy-button-description-toggle fal fa-chevron-down'></i></h3>
        <p class='exercise-description hidden'>
          <%= easy_button.pain.name %> of intensity <%= easy_button.pain_level %> | <%= easy_button.body_part.name %>
        </p>
      </article>
    <% end %>
  </section>

<% else %>
  <p>Create a New Easy Button</p>
  <%= link_to 'New Easy Button', new_easy_button_path, class: button_class('primary btn-wide') %>
<% end %>

<script type="text/javascript">
  easyButtonListToggler();
</script>
