<div class="container">
  <div class="row border-top border-bottom mb-3">
    <div class="col p-2 border-end border-start bg-light">  
      <%= form_with model: score_range_step, url: url, html: { novalidate: true } do |form| %>
        
        <%= render 'shared/errors', object: score_range_step %>
        <%= form.hidden_field :survey_id, value: survey.id %>

        <div class="mb-3">
          <%= form.label :position, class: "required" %>
          <span class="form-text">The order this range should appear in the list of range steps</span>
          <%= form.number_field :position, required: true, class: 'form-control' %>
        </div>

        <% unless survey.auto_calculate_score_range_steps? %>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <%= form.label "Range Min Points", class: "required" %>
                <%= form.number_field :calculated_range_min_points, required: true, class: 'form-control' %>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <%= form.label "Range Max Points", class: "required" %>
                <%= form.number_field :calculated_range_max_points, required: true, class: 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: "required" %>
          <%= form.text_field :name, required: true, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= form.label :description %>
          <%= form.text_area :description, class: 'form-control' %>
        </div>

        <div class="actions d-flex justify-content-end align-items-start gap-2">
          <%= button_tag "Cancel", type: "button", data: { action: "clearable#clear" }, class: button_class('secondary') %>
          <%= form.submit "Submit", class: button_class('success') %>      
        </div>
      <% end %>
    </div>
  </div>
</div>

