<% content_for(:title, "Manage Surveys") %>

<%= link_to 'New Survey', new_admin_survey_path, class: button_class('primary pull-right') %>

<h1>Manage Surveys</h1>

<div class="container w-100 overflow-x-scroll">
  <div class="row fw-bolder border-bottom border-top mb-0 text-bg-light">
    <div class="col-2 py-1 px-2">Name</div>
    <div class="col-4 py-1 px-2">Description</div>
    <div class="col-1 py-1 px-2">Status</div>
    <div class="col-2 py-1 px-2">Responses</div>
    <div class="col-3 py-1 px-2">Actions</div>
  </div>
  
  <% @surveys.each do |survey| %>
    <div class="row border-bottom mb-0">
      <div class="col-2 py-1 px-2"><%= link_to survey.name, admin_survey_path(survey) %></div>
      <div class="col-4 py-1 px-2"><%= survey.description %></div>
      <div class="col-1 py-1 px-2"><%= survey.published? ? "Published" : "Draft" %></div>
      <div class="col-2 py-1 px-2"><%= survey.responses.count %></div>
      <div class="col-3 py-1 px-2">
        <!-- TODO: use policies to display available action buttons -->
        <%= link_to "Edit", edit_admin_survey_path(survey), class: "btn btn-sm btn-primary" %>
        <%= link_to "Publish", '#', class: "btn btn-sm btn-primary" %>
        <%= link_to "Archive", '#', class: "btn btn-sm btn-primary" %>
        <%= link_to "Delete", admin_survey_path(survey), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" unless survey.published? %>
      </div>
    </div>
  <% end %>
</div>
