<% content_for(:title, @survey.name) %>

<div class="d-flex justify-content-between">
  <h1><%= @survey.name.titleize %> <span class="fs-6 text">(<%= @survey.status %>)</span></h1>
  <div class="d-flex justify-content-end align-items-start gap-1">
    <%= link_to 'Back to Surveys', admin_surveys_path, class: button_class('secondary') %>
    <%= render partial: "action_buttons", locals: {survey: @survey} %>
  </div>
</div>
<p><%= @survey.description %></p> 

<div class="row mb-3">
  <div class="col-12 col-md-7">
    <div class="d-flex justify-content-between align-items-start">
      <h2 class="fs-4 text">Questions</h2>
      <%= link_to '+ Add Category', new_admin_survey_category_path(@survey), data: { turbo_stream: true }, class: button_class('success') if allowed_to?(:edit?, @survey) %>
    </div>
    <%= tag.div id: "js_survey_category_form", data: {controller: "clearable" } %>
    <%= render partial: 'admin/survey/categories/list', locals: {survey: @survey} %>
  </div>

  <div class="col-12 col-md-5">
    <div class="d-flex justify-content-between align-items-start">
      <h2 class="fs-4 text">Answer Options</h2>
      <%= link_to '+ Add', new_admin_survey_answer_option_path(@survey), data: { turbo_stream: true }, class: button_class('success') if allowed_to?(:edit?, @survey) %>
    </div>
    <%= tag.div id: "js_survey_answer_option_form", data: {controller: "clearable" } %>
    <%= render partial: 'admin/survey/answer_options/list', locals: {survey: @survey} %>
  </div>
</div>

<div class="d-flex justify-content-between align-items-start">
  <h2 class="fs-4 text">Score Interpretation</h2>
  <%= link_to '+ Add', new_admin_survey_score_range_step_path(@survey), data: { turbo_stream: true }, class: button_class('success') if display_score_range_steps?(@survey) %>
</div>
<% if display_score_range_steps?(@survey) %>
  <%= tag.div id: "js_survey_score_range_step_form", data: {controller: "clearable" } %>
  <%= render partial: 'admin/survey/score_range_steps/list', locals: {survey: @survey} %>
<% else %>
  <p class="text">Add questions to the survey to enable score interpretation.</p>
<% end %>

