<% content_for(:title, @survey.name) %>

<h1><%= @survey.name.titleize %> <span class="fs-6 text"><%= @survey.published? ? "(Published)" : "(Draft)" %></span></h1>
<p><%= @survey.description %></p>    
<div class="row">
  <div class="col-7">
    <h2 class="fs-4 text">Questions</h2>
    <% @survey.categories.each do |category| %>
      <h3 class="fs-5 text"><%= category.name %></h3>
      <ul>
        <% category.questions.each do |question| %>
          <li><%= question.position %>: <%= question.text %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-5">
    <h2 class="fs-4 text">Answer Options</h2>
    <ul>
      <% @survey.answer_options.each do |option| %>
        <li><%= option.value %>: <%= option.name %></li>
      <% end %>
    </ul>
  </div>
</div>





<h2 class="fs-4 text">Score Interpretation</h2>
<ul>
  <% @survey.score_range_steps.each do |step| %>
    <li><strong><%= step.calculated_range_min_points %>-<%= step.calculated_range_max_points %>: <%= step.name %></strong> - <%= step.description %></li>
  <% end %>
</ul>

