<%= form_with(model: pain_log_quick_form_value) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: pain_log_quick_form_value} %>

  <div class='field'>
    <%= form.label 'Name', class: 'required' %>
    <%= form.text_field :name, required: true, placeholder: 'ex: Average Tension Headache', class: 'form-control' %>
  </div>

  <div class='field'>
    <%= form.label 'Body Part', class: 'required' %>
    <%= form.collection_select :body_part_id,
    current_user.body_parts.active, :id, :name,
    { include_blank: false, required: true },
    class: 'form-control' %>
  </div>

  <div class='form-row'>
    <div class='col'>
      <div class='field'>
        <%= form.label 'Pain Type', class: 'required' %>
        <%= form.collection_select :pain_id,
        current_user.pains.by_name, :id, :name,
        { include_blank: false, required: true },
        class: 'form-control' %>
      </div>
    </div>

    <div class='col'>
      <div class='field'>
        <%= form.label 'Pain Level (0 = none, 10 = worst)', class: 'required' %>
        <%= form.number_field :pain_level, required: true, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='field'>
    <%= form.label 'What were you doing when this happened?' %>
    <%= form.text_area :trigger, class: 'form-control' %>
  </div>

  <div class='field'>
    <%= form.label 'Describe Pain' %>
    <%= form.text_area :pain_description, class: 'form-control' %>
  </div>

  <div class='mt-3 mb-3'>
    <%= form.submit 'Save', class: button_class('success') %>
    <%= link_to 'Cancel', pain_log_quick_form_values_path, class: button_class('secondary') %>
  </div>
<% end %>
