<%= link_to 'Add a Quick Log Link', new_pain_log_quick_form_value_path, class: button_class('primary pull-right') %>

<h1>Common Pain Quick Log Settings</h1>
<p>Create a one-click link to easily add a pain log for your common pains.</p>

<% if current_user.pain_log_quick_form_values.any? %>
  <%= render partial: 'shared/search_form', locals: { url: pain_log_quick_form_values_path } %>

  <section>
    <% @pain_log_quick_form_values.each do |pain_log_quick_form_value| %>
      <details class='index-list-item'>
        <summary><%= link_to pain_log_quick_form_value.name, edit_pain_log_quick_form_value_path(pain_log_quick_form_value) %></summary>
        <p class='exercise-description'>
          <%= pain_log_quick_form_value.pain.name %> of intensity <%= pain_log_quick_form_value.pain_level %> | <%= pain_log_quick_form_value.body_part.name %>
        </p>
      </details>
    <% end %>
  </section>

<% else %>
  <%= link_to 'Get Started!', new_pain_log_quick_form_value_path, class: button_class('primary btn-wide') %>
<% end %>
