<div id="<%= dom_id(category) %>" class="border-bottom card text-bg-light mb-3">
  <div class="d-flex justify-content-between align-items-center card-header px-2">
    <h3 class="fs-6 text mb-0"><%= category.position %>. <%= category.name %></h3>
    <div>
      <%= link_to '+ Add Question', new_admin_survey_category_question_path(survey, category), data: { turbo_stream: true }, class: button_class('success') if allowed_to?(:edit?, survey) %>
      <%= link_to MaterialIconComponent.new(icon: :settings, title: 'Edit Category').render, edit_admin_survey_category_path(survey, category), data: { turbo_stream: true }, class: button_class('primary') if allowed_to?(:edit?, category) %>
      <%= link_to MaterialIconComponent.new(icon: :delete, title: 'Delete Category').render, admin_survey_category_path(survey, category), data: { turbo_method: :delete, turbo_stream: true, turbo_confirm: "Are you sure you want to delete this category?" }, class: button_class('danger') if allowed_to?(:destroy?, category) %>
    </div>
  </div>

  <%= tag.div id: dom_id(category, :js_question_form), data: {controller: "clearable" } %>
  <div class="card-body">
    <% category.questions.ordered.each do |question| %>
      <div class="d-flex justify-content-between py-2">
        <div><%= question.position %>. <%= question.text %></div>
        <div>
          <%= link_to MaterialIconComponent.new(icon: :settings, title: 'Edit Question').render, edit_admin_survey_category_question_path(survey_id: survey.id, category_id: category.id, id: question.id), data: { turbo_stream: true }, class: button_class if allowed_to?(:edit?, question) %>
          <%= link_to MaterialIconComponent.new(icon: :delete, title: 'Delete Question').render, admin_survey_category_question_path(survey_id: survey.id, category_id: category.id, id: question.id), data: { turbo_method: :delete, turbo_stream: true, turbo_confirm: "Are you sure you want to delete this question?" }, class: button_class('danger') if allowed_to?(:destroy?, question) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
