<h2>Sublingual Immunotherapy Patient Documentation</h2>
<p>Maintenance Dosage log for patient <%= current_user.name_or_email %>
<% if @logs.any? %>
  from <%= @logs.first.occurred_at.strftime('%m/%d/%y') %> to <%= @logs.last.occurred_at.strftime('%m/%d/%y') %></p>
<% end %>
<p><strong>NB</strong> = started new bottle | <strong>SKIPPED</strong> = drops not taken for date</p>

<div class='slit-report-data-container mt-4'>
  <% 3.times do %>
    <div class="slit-report-data-row slit-report-data-header">
      <span class='row-col-dose'>Dose</span>
      <span>Taken</span>
    </div>
  <% end %>
</div>

<div class='slit-report-data-container'>
  <% @logs.each_with_index do |log, index| %>
    <div class="slit-report-data-row">
      <span class='slit-report-col-dose'><%= index + 1 %></span>
      <% if log.dose_skipped? %>
        <span><%= log.occurred_at.strftime('%a %m/%d/%y') %> <strong class="dose-skipped">SKIPPED</strong></span>
      <% else %>
        <span><%= log.occurred_at.strftime('%a %m-%d-%y at %I:%M%P') %></span>
      <% end %>

      <% if log.started_new_bottle? %>
        <span><strong>NB</strong></span>
      <% end %>
    </div>
  <% end %>
</div>

<%= will_paginate @logs, page_links: false, class: "pagination mt-3 mb-0" %>