<div class='card card--log-entry log-type-therapy'>
  <a href='<%= pt_session_path(pt_session) %>'>
    <div class='card-body'>
      <%= render partial: 'pt_sessions/pt_session_header', locals: { log: pt_session } %>

      <p class='card-text'><strong><%= pt_session.body_part_name.titleize %>:</strong> <%= pt_session.duration %> minutes<br>
        <small class='text-muted'><%= pt_session.exercise_notes %></small>
      </p>
    </div>
  </a>
</div>
