<i class="fal fa-hospital-user pull-right"></i>
<h5 class="card-title">Physical Therapy Session on <%= format_time(@pt_session) %></h5>
<p class="card-text"><strong><%= @pt_session.body_part_name.titleize %>:</strong> <%= @pt_session.duration %> minutes<br></p>
<h5>Session Notes</h5>
<p><%= @pt_session.exercise_notes %></p>
<ul>
  <% @pt_session.pt_session_exercises.each do |session_exercise| %>
    <li><%= display_exercise_stats(session_exercise) %></li>
  <% end %>
</ul>

<h5>Homework</h5>
<p><%= @pt_session.homework %></p>
<ul>
  <% @pt_session.homework_exercises.each do |exercise| %>
  <li><%= exercise.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_pt_session_path(@pt_session), class: button_class %>
<%= link_to 'Back', pt_sessions_path, class: button_class %>
