<% @log_content = capture do %>
  <h5 class='card-title color-therapy'><%= pt_session_log.display_name %>: <%= format_datetime(pt_session_log.occurred_at) %></h5>
  <p class='card-text'><strong><%= pt_session_log.body_part_name.titleize %>:</strong> <%= pt_session_log.duration %> minutes<br>
    <small class='text-muted'><%= pt_session_log.exercise_notes %></small>
  </p>
<% end %>

<%= render partial: '/logs/log_component',
  locals: {
    log: pt_session_log,
    log_content: @log_content,
    edit_path: edit_pt_session_log_path(pt_session_log),
    error_condition: false
  }
%>
