<% content_for(:title, 'Edit My Settings') %>

<h1>My Settings</h1>

<%= form_with(model: @user) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: @user} %>

  <div class='field'>
    <%= form.check_box :enable_slit_tracking %>
    <label class="mb-0 inline">Enable SLIT Therapy Tracking</label>
  </div>

  <div class='field'>
    <%= form.check_box :enable_pt_session_tracking %>
    <label class="mb-0 inline">Enable Physical Therapy Tracking</label>
  </div>

  <div class='mt-3 mb-3'>
    <%= form.submit 'Submit', class: button_class('success') %>
  </div>
<% end %>
