<% content_for(:title, 'Edit My Settings') %>

<h1>My Settings</h1>
<%= form_with(model: @user) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: @user} %>

  <div class='field'>
    <%= form.check_box :enable_pt_session_tracking %>
    <label class="mb-0 inline">Enable Physical Therapy Tracking</label>
  </div>

  <div data-controller="toggle-visibility">
    <div class='field'>
      <%= form.check_box :enable_slit_tracking, data: { action: "change->toggle-visibility#toggle" } %>
      <label class="mb-0 inline">Enable SLIT Therapy Tracking</label>
    </div>

    <div data-toggle-visibility-target="content">
      <%= form.fields_for :slit_configuration do |f_slit_configuration| %>
        <%= f_slit_configuration.hidden_field :id %>
        <div class='field'>
          <%= f_slit_configuration.label :max_bottle_doses, class: 'required' %>
          <%= f_slit_configuration.number_field :max_bottle_doses, required: true, class: 'form-control' %>
        </div>

        <div class='field'>
          <%= f_slit_configuration.label :hold_time_seconds, class: 'required' %>
          <%= f_slit_configuration.number_field :hold_time_seconds, required: true, class: 'form-control' %>
        </div>

        <div class='field'>
          <%= f_slit_configuration.label :drops_dose_qty, class: 'required' %>
          <%= f_slit_configuration.number_field :drops_dose_qty, required: true, class: 'form-control' %>
        </div>
      <% end %>
    </div>
  </div>


  <div class='mt-3 mb-3'>
    <%= form.submit 'Submit', class: button_class('success') %>
  </div>
<% end %>
