<% @log_content = capture do %>
  <h5 class='card-title color-pain'>Pain: <%= format_datetime(pain_log.occurred_at) %></h5>
  <p class="card-text"><strong><%= pain_log.body_part_name.titleize %>:</strong> Pain Level: <%= pain_log.pain_level %> <%= pain_log.pain_name %><br>
    <%= pain_log.pain_description if pain_log.pain_description.present? %>
    <% if pain_log.trigger.present? %>
      <br><small class="text-muted">Triggered by: <%= pain_log.trigger %></small>
    <% end %>
  </p>
<% end %>

<%= render partial: '/logs/log_component',
  locals: {
    log_content: @log_content,
    log_type: 'pain',
    edit_path: edit_pain_log_path(pain_log),
    icon_name: 'pain',
    error_condition: false
  }
%>
