<header class='add-log-buttons-container'>
  <%= NewLogButtonComponent.new(log_klass: PainLog, path: new_pain_log_path).render %>
</header>

<%= form_tag(pain_logs_path, method: 'get', id: 'filter-form' ) do %>
  <div class='row'>
    <div class='col-12 col-md-3 mb-2'>
      <%= select_tag :body_part_id,
        options_for_select(options_for_body_parts_dropdown, params[:body_part_id]),
        { prompt: 'Select a Body Part',
          class: 'form-control' }
      %>
    </div>

    <div class='col-12 col-md-3 mb-2'>
      <%= select_tag :pain_id,
        options_for_select(options_for_pain_logs_dropdown, params[:pain_id]),
        { prompt: 'Select a Pain',
          class: 'form-control' }
      %>
    </div>

    <div class='col-12 col-md-3 mb-2'>
      <%= text_field_tag :search, params[:search],
                                  placeholder: "Search Description",
                                  class: 'form-control'
      %>
    </div>

    <div class='col-12 col-md-3'>
      <button type='submit' class='btn btn-secondary' style="width: 100%;">Submit</button>
      <%= link_to 'Reset', pain_logs_path, class: 'ml-3 reset-link' %>
    </div>
  </div> <!-- row -->
<% end %>
<hr>

<% @logs.each do |pain_log| %>
  <%= render partial: 'pain_log', locals: { pain_log: pain_log } %>
<% end %>
<br>

<%= will_paginate @logs, :page_links => false %>
