<p>
  <strong>User:</strong>
  <%= @pain_log.user.email %>
</p>

<p>
  <strong>Datetime occurred:</strong>
  <%= @pain_log.datetime_occurred %>
</p>

<p>
  <strong>Body part:</strong>
  <%= @pain_log.body_part_name %>
</p>

<p>
  <strong>Pain level:</strong>
  <%= @pain_log.pain_level %>
</p>

<p>
  <strong>Pain description:</strong>
  <%= @pain_log.pain_description %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @pain_log.trigger %>
</p>

<%= link_to 'Edit', edit_pain_log_path(@pain_log) %> |
<%= link_to 'Back', pain_logs_path %>
