<%= render partial: 'logs/log_header', locals: { log: @pain_log, log_type: 'pain', log_name: 'Pain', icon_name: 'fal fa-user-injured' } %>

<p>
  <strong>User:</strong>
  <%= @pain_log.user.email %>
</p>

<p>
  <strong>Datetime occurred:</strong>
  <%= @pain_log.occurred_at %>
</p>

<p>
  <strong>Body part:</strong>
  <%= @pain_log.body_part_name %>
</p>

<p>
  <strong>Pain level:</strong>
  <%= @pain_log.pain_level %>
</p>

<p>
  <strong>Pain description:</strong>
  <%= @pain_log.pain_description %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @pain_log.trigger %>
</p>

<%= link_to 'Edit', edit_pain_log_path(@pain_log) %> |
<%= link_to 'Back', pain_logs_path %>
