<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <i class="fal fa-notes-medical"></i> <%= link_to 'TherapyTracker', root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Enter a Log', new_log_entry_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'History', log_entries_path, class: 'nav-link' %>
      </li>
      <%= render 'shared/admin_nav' %>
      <%= render 'shared/session_nav' %>
    </ul>
  </div>
</nav>
