  <% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Log New
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to '+ Exercise Log', new_exercise_log_path, class: 'dropdown-item' %>
      <%= link_to '+ Pain Log', new_pain_log_path, class: 'dropdown-item' %>
      <%= link_to '+ PT Session', new_pt_session_log_path, class: 'dropdown-item' %>
      <%= link_to '+ SLIT Log', new_slit_log_path, class: 'dropdown-item' if current_user.enable_slit_tracking %>
    </div>
  </li>

  <% if current_user.pain_log_quick_form_values.any? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Quick Log
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'SLIT dose', quick_log_create_path, method: :post, class: 'dropdown-item' if current_user.enable_slit_tracking %>
      <% current_user.pain_log_quick_form_values.order(name: :asc).each do |attr| %>
        <%= link_to attr.name, create_pain_log_from_quick_form_path(content: attr), method: :post, class: 'dropdown-item'  %>
      <% end %>
    </div>
  </li>
  <% end %>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      History
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Pain Stats by Body Part', stats_path, class: 'dropdown-item' %>
      <%= link_to 'Charts', charts_path, class: 'dropdown-item' %>
      <%= link_to 'SLIT Logs for Print', slit_report_path, class: 'dropdown-item' if current_user.enable_slit_tracking %>
      <div class='dropdown-divider'></div>
      <%= link_to 'Exercise Logs', exercise_logs_path, class: 'dropdown-item' %>
      <%= link_to 'Pain Logs', pain_logs_path, class: 'dropdown-item' %>
      <%= link_to 'PT Session Logs', pt_session_logs_path, class: 'dropdown-item' %>
      <%= link_to 'SLIT Logs', slit_logs_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Exercises', exercises_path, class: 'dropdown-item' %>
      <%= link_to 'Body Parts', body_parts_path, class: 'dropdown-item' %>
      <%= link_to 'Pains', pains_path, class: 'dropdown-item' %>
      <%= link_to 'Pain "Quick Loging" Defaults', pain_log_quick_form_values_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Edit My Settings', edit_user_settings_path, class: 'dropdown-item' %>
      <%= link_to 'Change My Password', edit_user_registration_path, class: 'dropdown-item' %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    </div>
  </li>

  <% else %>
  <li class="nav-item">
    <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
  </li>
  <% end %>
