  <% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Log New
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Exercise Log', new_exercise_log_path, class: 'dropdown-item' %>
      <%= link_to 'Pain Log', new_pain_log_path, class: 'dropdown-item' %>
      <%= link_to 'PT Session', new_pt_session_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      History
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Charts', reports_path, class: 'dropdown-item' %>
      <%= link_to 'Exercise Logs', exercise_logs_path, class: 'dropdown-item' %>
      <%= link_to 'Pain Logs', pain_logs_path, class: 'dropdown-item' %>
      <%= link_to 'PT Session Logs', pt_sessions_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Exercises', exercises_path, class: 'dropdown-item' %>
      <%= link_to 'Body Parts', body_parts_path, class: 'dropdown-item' %>
      <%= link_to 'Pains', pains_path, class: 'dropdown-item' %>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Edit My Profile', edit_user_registration_path, class: 'dropdown-item' %>
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
    </div>
  </li>

  <% else %>
  <li class="nav-item">
    <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
  </li>
  <% end %>
