<div class="card card--log-entry">
  <a href="<%= physical_therapy_session_path(physical_therapy_session) %>">
    <div class="card-header">
      <h5>
        <i class="fal fa-hospital-user pull-right"></i>
        <%= format_time(physical_therapy_session) %>
      </h5>
    </div>
    <div class="card-body">
      <p class="card-subtitle"><strong><%= physical_therapy_session.target_body_part.titleize %>:</strong> <%= physical_therapy_session.duration %> minutes<br></p>
      <small class="text-muted">Homework: <br>
        <ul>
          <%= simple_format(physical_therapy_session.homework, {}, wrapper_tag: 'li') %>
        </ul>
      </small>
    </div>
  </a>
</div>
