<div class="card card--log-entry log-type-therapy">
  <a href="<%= physical_therapy_session_path(physical_therapy_session) %>">
    <div class="card-body">
      <span class='card--log-icon'>Therapy <i class="fal fa-hospital-user"></i></span>
      <h5><%= format_time(physical_therapy_session) %></h5>

      <p class="card-subtitle"><strong><%= physical_therapy_session.body_part_name.titleize %>:</strong> <%= physical_therapy_session.duration %> minutes<br></p>
      <%= render partial: 'physical_therapy_sessions/homework', locals: { homework: physical_therapy_session.homework } %>
    </div>
  </a>
</div>
