<i class="fal fa-hospital-user pull-right"></i>
<h5 class="card-title"><%= format_time(@physical_therapy_session) %></h5>
<p class="card-text"><strong><%= @physical_therapy_session.body_part_name.titleize %>:</strong> <%= @physical_therapy_session.duration %> minutes<br></p>
<ul>
  <%= simple_format(@physical_therapy_session.exercise_notes, {}, wrapper_tag: 'li') %>
</ul>

<%= render partial: 'physical_therapy_sessions/homework', locals: { homework: @physical_therapy_session.homework } %>

<%= link_to 'Edit', edit_physical_therapy_session_path(@physical_therapy_session), class: button_class %>
<%= link_to 'Back', physical_therapy_sessions_path, class: button_class %>
