<p id="notice"><%= notice %></p>

<h1>Log Entries</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sets</th>
      <th>Reps</th>
      <th>Exercise name</th>
      <th>Datetime exercised</th>
      <th>Current pain level</th>
      <th>Current pain frequency</th>
      <th>Progress note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_entries.each do |log_entry| %>
      <tr>
        <td><%= log_entry.sets %></td>
        <td><%= log_entry.reps %></td>
        <td><%= log_entry.exercise_name %></td>
        <td><%= log_entry.datetime_exercised %></td>
        <td><%= log_entry.current_pain_level %></td>
        <td><%= log_entry.current_pain_frequency %></td>
        <td><%= log_entry.progress_note %></td>
        <td><%= link_to 'Show', log_entry %></td>
        <td><%= link_to 'Edit', edit_log_entry_path(log_entry) %></td>
        <td><%= link_to 'Destroy', log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_log_entry_path, class: button_class %>
