<% content_for(:title, format_time(@log_entry)) %>

<h2>
  <%= format_exercise(@log_entry) %>
</h2>

<p>
  <%= format_time(@log_entry) %>
</p>

<p>
  <strong>For:</strong>
  <%= @log_entry.target_body_part %>
</p>

<p>
  <strong>Current Pain:</strong><br>
  <strong>Level:</strong> <%= @log_entry.current_pain_level %>, <strong>Frequency:</strong> <%= @log_entry.current_pain_frequency %>
</p>

<p>
  <strong>Progress notes:</strong><br>
  <%= @log_entry.progress_note %>
</p>

<%= link_to 'Edit', edit_log_entry_path(@log_entry) %> |
<%= link_to 'Back', log_entries_path %>
