<% if @logs.present? %>
  <%= render partial: 'shared/add_log_buttons' %>

  <% if current_user.enable_slit_tracking? %>
    <div id="slit_countdown_timer_container"></div>
  <% end %>

  <% if current_user.enable_pt_session_tracking? && last_homework %>
    <%= render partial: 'pt_session_logs/homework', locals: { homework: last_homework } %>
  <% end %>

  <div id='js-logs' class='mb-5'>
    <% @logs.each do |log| %>
      <%= render log %>
    <% end %>
  </div>

  <%= will_paginate @logs, page_links: false %>

<% else %>
  <%= render 'new_user_welcome' %>
<% end %>
