<%= form_with(model: exercise, local: true) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: exercise} %>

  <div class="field">
    <%= form.label :name, class: 'required' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-row">
    <div class="col">
      <div class="field">
        <%= form.label :default_sets, class: 'required' %>
        <%= form.number_field :default_sets, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :default_reps, class: 'required' %>
        <%= form.number_field :default_reps, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label :default_rep_length, class: 'required' %>
        <%= form.number_field :default_rep_length, placeholder: 'seconds', class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="field">
        <%= form.label 'Per Leg?' %>
        <%= form.check_box :default_per_side, class: 'form-control' %>
      </div>
    </div>
  </div> <!-- row -->

  <div class="field">
    <%= form.label 'Default Resistance Level' %>
    <%= form.text_field :default_resistance, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'required' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions mt-3 mb-3">
    <%= form.submit class: button_class('success') %>
    <%= link_to 'Cancel', exercises_path, class: button_class('primary pull-right') %>
  </div>
<% end %>
