<%= link_to 'New Exercise', new_exercise_path, class: button_class('primary pull-right') %>

<h1>Exercises</h1>

<%= form_tag(exercises_path, method: 'get', id: 'search-form', class: 'mb-3' ) do %>
  <div class="col-xs-12">
    <i class="fa fa-search search_icon"></i>
    <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control form-control-sm' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, edit_exercise_path(exercise) %>
        <td><strong><%= exercise.default_sets %> sets of <%= exercise.default_reps %> with <%= exercise.default_rep_length %> sec hold <%= 'per side' if exercise.default_per_side %></strong><br>
          <%= exercise.description %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
