<%= link_to 'New Exercise', new_exercise_path, class: button_class('primary pull-right') %>

<h1>Exercises</h1>

<% if current_user.exercises.any? %>
  <%= render partial: 'shared/search_form', locals: { url: exercises_path } %>

  <section>
    <% @exercises.each do |exercise| %>
      <details class='index-list-item'>
        <summary><%= link_to exercise.name, edit_exercise_path(exercise) %></summary>
        <p class='exercise-description'><strong><%= exercise.default_sets %> sets of <%= exercise.default_reps %> with <%= exercise.default_rep_length %> sec hold <%= 'per side' if exercise.default_per_side %></strong><br>
          <%= exercise.description %>
        </p>
      </details>
    <% end %>
  </section>

<% else %>
  <p>Create a New Exercise</p>
  <%= link_to 'New Exercise', new_exercise_path, class: button_class('primary btn-wide') %>
<% end %>