<h2>
  <%= body_part.name %>
  <small class="text-muted pull-right">(<%= pluralize(pain_logs_for_body_part.length, 'Occurrence')%>)</small>
</h2>
<table class='table mb-5'>
  <thead>
    <tr>
      <th>Pain Type</th>
      <th>Average Intensity (10 max)</th>
      <th>Occurrences</th>
      <th>Time Frame</th>
      <th>Avg Frequency</th>
      <th>First & Last</th>
    </tr>
  </thead>
  <tbody>
    <% pain_logs_for_body_part.group_by(&:pain).each do |pain, occurrences| %>
      <tr>
        <td width='15%';><%= pain.name %></td>
        <td><%= avg_pain_level(occurrences) %>&nbsp;
          <div style='display: inline-block; width: 90%;'>
            <span style='display: inline-block; background-color: gray; height: 10px; width: <%= (avg_pain_level(occurrences) * 10) %>%;'><span>
          </div>
        </td>
        <td><%= occurrences.length %></td>
        <td><%= occurrence_timeframe(occurrences) %></td>
        <td><%= occurrence_frequency(occurrences) %></td>
        <td>
          <% if occurrences.length == 1 %>
          <%= formatted_first_occurrence_datetime(occurrences) %>
          <% else %>
          <%= formatted_first_occurrence_datetime(occurrences) %><br>
          <%= formatted_last_occurrence_datetime(occurrences) %><br>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
