<%= form_with(model: slit_log, local: true) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: slit_log} %>

  <div class='form-row'>
    <div class='col-6'>
      <div class='field'>
        <%= render partial: 'shared/datetime_picker', locals: {form: form} %>
      </div>
    </div>

    <div class='col-3'>
      <div class='field'>
        <%= form.label 'Started New Bottle?' %>
        <%= form.check_box :started_new_bottle, class: 'form-control' %>
      </div>
    </div>

    <div class='col-3'>
      <div class='field'>
        <%= form.label 'Doses remaining' %>
        <%= form.number_field :doses_remaining, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class='mt-3'>
    <%= form.submit class: "#{button_class('success')} actions mt-3 mb-3" %>
    <%= link_to 'Cancel', slit_logs_path, class: button_class('primary') %>
  </div>
<% end %>
