<%= form_with(model: slit_log, local: true) do |form| %>
  <%= render partial: 'shared/errors', locals: {object: slit_log} %>

  <div class='form-row'>
    <div class='col'>
      <div class='field'>
        <%= render partial: 'shared/datetime_picker', locals: {form: form} %>
      </div>
    </div>

    <div class='col'>
      <div class='field'>
        <%= form.label 'Started New Bottle?' %>
        <%= form.check_box :started_new_bottle, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='actions mt-3 mb-3'>
    <%= form.submit class: button_class('success') %>
  </div>

  <%= link_to 'Cancel', slit_logs_path, class: button_class('primary pull-right') %>
<% end %>
