<h1>Sublingual Immunotherapy Patient Documentation<br>Mantenance Dosage</h1>
<h2>Call 336-659-4814 to order more drops</h2>
<p>For <%= current_user.email %> from <%= @logs.first.occurred_at.strftime('%m/%d/%y') %> to <%= @logs.last.occurred_at.strftime('%m/%d/%y') %></p>
<p>
  <strong>NB</strong> = started new bottle<br>
  <strong>SKIPPED</strong> = drops not taken for date
</p>

<div class='slit-report-data-container mt-4'>
  <% 3.times do %>
    <div class="slit-report-data-row slit-report-data-header">
      <span class='row-col-dose'>Dose</span>
      <span>Taken</span>
    </div>
  <% end %>
</div>

<div class='slit-report-data-container'>
  <% @logs.each_with_index do |log, index| %>
    <div class="slit-report-data-row">
      <span class='slit-report-col-dose'><%= index + 1 %></span>
      <% if log.dose_skipped? %>
        <span><%= log.occurred_at.strftime('%m/%d/%y') %> <strong>SKIPPED</strong></span>
      <% else %>
        <span><%= log.occurred_at.strftime('%m/%d/%y at %I:%M%p') %></span>
      <% end %>

      <% if log.started_new_bottle? %>
        <span><strong>NB</strong></span>
      <% end %>
    </div>
  <% end %>
</div>

