<%#= pie_chart({"Football" => 10, "Basketball" => 5}) %>
<%#= pie_chart [["Football", 10], ["Basketball", 5]] %>

<%#= line_chart [
  {name: "Series A", data: series_a},
  {name: "Series B", data: series_b}
] %>

<h1>Reports</h1>
<%= render partial: 'filter_form' %>

<h3>Pain Instances & Levels</h3>
<h4>Grouped by Day</h4>

<%= area_chart [
  {name: 'Qty Pain Instances', data: @report.pain_logs.group_by_day(:datetime_occurred).count},
  {name: 'Pain Levels', data: @report.pain_logs.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<hr>
<h3>Exercises vs Pain</h3>
<h4>Grouped by Day</h4>
<%= area_chart [
  {name: 'Qty Exercises', data: @report.exercise_logs.group_by_day(:datetime_occurred).count},
  {name: 'Pain Levels Total', data: @report.pain_logs.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<%= bar_chart [
  {name: 'Minutes Exercised', data: @report.exercise_logs.minutes_spent_by_day},
  {name: 'Pain Levels Total', data: @report.pain_logs.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<hr>
<h3>Home vs PT Exercises</h3>
<%= area_chart [
  {name: 'Qty Pt Session Exercises', data: @report.exercise_logs.at_pt.group_by_day(:datetime_occurred).count},
  {name: 'Qty Home Exercises', data: @report.exercise_logs.at_home.group_by_day(:datetime_occurred).count},
] %>

<hr>
<h3>Pain, Exercise, & Therapy</h3>
<h4>Grouped by Day</h4>
<%= line_chart [
  {name: 'Exercise Logs', data: @report.exercise_logs.group_by_day(:datetime_occurred).count},
  {name: 'Physical Therapy Sessions', data: @report.pt_session_logs.group_by_day(:datetime_occurred).count},
  {name: 'Pain Logs', data: @report.pain_logs.group_by_day(:datetime_occurred).count},
] %>

<hr>
<h3>Exercise Logs by Type</h3>
<%= pie_chart @report.exercise_logs.group_by_exercise_and_count %>
<hr>

<h3>Pain Logs by Type</h3>
<%= bar_chart @report.pains.log_count_by_name %>
<hr>

<h3>Frequency of Pain By Day</h3>
<h4>Grouped by Day</h4>
<%= line_chart @report.pain_logs.group_by_day(:datetime_occurred).count %>
<%#= scatter_chart @report.pain_logs.pluck(:datetime_occurred, :pain_level), xtitle: "Date", ytitle: "Pain Level" %>
