<%#= pie_chart({"Football" => 10, "Basketball" => 5}) %>
<%#= pie_chart [["Football", 10], ["Basketball", 5]] %>

<%#= line_chart [
  {name: "Series A", data: series_a},
  {name: "Series B", data: series_b}
] %>


<h1>Reports</h1>

<h2>Pain Instances & Levels</h2>
<%= area_chart [
  {name: "Qty Pain Instances", data: PainLog.group_by_day(:datetime_occurred).count},
  {name: "Pain Levels", data: PainLog.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<hr>
<h2>Exercises vs Pain</h2>
<%= area_chart [
  {name: "Qty Exercises", data: ExerciseLog.group_by_day(:datetime_occurred).count},
  {name: "Pain Levels", data: PainLog.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<%= bar_chart [
  {name: "Minutes Exercised", data: ExerciseLog.minutes_spent_by_day},
  {name: "Pain Levels", data: PainLog.group_by_day(:datetime_occurred).sum(:pain_level)},
] %>

<hr>
<h2>Pain, Exercise, & Therapy</h2>
<%= line_chart [
  {name: "Exercise Logs", data: ExerciseLog.group_by_day(:datetime_occurred).count},
  {name: "Physical Therapy Sessions", data: PtSession.group_by_day(:datetime_occurred).count},
  {name: "Pain Logs", data: PainLog.group_by_day(:datetime_occurred).count},
] %>

<hr>
<h2>Exercise Logs by Type</h2>
<ul>

<%= pie_chart Exercise.log_count_by_name %>
<%#= line_chart ExerciseLog.group(:exercise_id).group_by_week(:datetime_occurred).count %>

<hr>

<h2>Pain Logs by Type</h2>
<%= bar_chart Pain.log_count_by_name %>

<hr>

<h2>Frequency of Pain By Day</h2>
<%= line_chart PainLog.group_by_day(:datetime_occurred).count %>
<%#= scatter_chart PainLog.pluck(:datetime_occurred, :pain_level), xtitle: "Date", ytitle: "Pain Level" %>
