<%= form_with(model: body_part, local: true) do |form| %>
  <% if body_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(body_part.errors.count, "error") %> prohibited this body_part from being saved:</h2>

      <ul>
      <% body_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'required' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions mt-3 mb-3">
    <%= form.submit class: button_class('success') %>
    <%= link_to 'Cancel', body_parts_path, class: button_class('primary pull-right') %>
  </div>
<% end %>
