<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body data-controller="bootstrap">
    <%= render 'shared/navbar' %>
    <div class='container'>
      <article class='white-container'>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </article>
    </div>
    <%= render 'layouts/scripts' %>
  </body>
</html>
